@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}
:root {
    --blue: #2a2185;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999; 
    --background: #f6f5f7;   
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}


[hide] {
    display: none !important;
}

/*animation on scroll*/
/*
.hidden {
    opacity: 0;
    transition: all 2s;
}

.show {
    opacity: 1;
}
*/
.marginLeft {
    margin-left: 400px;
}
.paddingForContainer {
    padding: 0 40px;
}

.hide {
    display: none !important;
}
.showMenu {
    display: block !important;
}
/*=======================Left Navigation - Sidebar==================*/
.navContainer {    
    width: 100%;    
}
.navbar {   
    --bs-navbar-padding-y: 0;
}
.menuNavigation {
    position: fixed;
    width: 400px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: 0.5s;
    overflow: hidden;   
}

.menuNavigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0;    
}
.menuNavigation ul [menu] {
    margin-left: 20px;
}
.menuNavigation .navbar-brand {    
    display: block;
    margin: 30px 0;  
    font-size: 33px;
}
.nav-link:focus, .nav-link:hover {
    color: var(--white  );
}
.menuNavigation .navbar-brand img {
    width: 62px;
    margin-right: 17px;
    cursor: pointer;
}
.menuNavigation + ul li:nth-child(1) {   
    margin-bottom: 60px;    
    font-size: 33px;
}
.menuNavigation ul li a {
    position: relative;
    padding: 14px 0;
    display: flex;
    text-decoration: none;
    color: var(--white);
    align-items: center;
}


#pages .sidebar-item {
    font-size: 20px;
}
.menuNavigation .sidebar-nav [menu]:hover li a,
.menuNavigation .sidebar-nav [menu].hovered li a {
    background: var(--background);
    color: var(--black1);    
}
.menuNavigation .sidebar-nav [menu]:hover,
.menuNavigation .sidebar-nav [menu].hovered {
    background: var(--background);
    color: var(--black1);
    border: 0.3px solid #767676;
}
.menuNavigation #pages [submenu]:hover li a,
.menuNavigation #pages [submenu].hovered li a {
    background: var(--background);
    color: var(--black1);
    border: 0.3px solid #767676; 
}


.menuNavigation .sidebar-nav [menu] li,
.menuNavigation #pages [submenu] li a{    
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;    
    margin-left: 23px;  
  
    border: 0.1px solid transparent; 
  
}
.menuNavigation #pages [submenu] li a {
    padding-left: 20px;
}
.menuNavigation .sidebar-nav [menu] li {
    padding-left: 20px;
}

.menuNavigation .sidebar-nav [menu] {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; 
    border: 0.3px solid transparent; 
}

.nav-link {
    transition: none;    
}
.bg-transparent {
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(10px) !important;
}


.menuNavigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    font-size: 24px;
}
.menuNavigation ul li a .icon svg {
    margin-right: 5px;
}

.dropdown-menu.show {
    transition: 1s easy !important;
}

.sidebar-link[data-bs-toggle="collapse"]::after {    
    content: '';
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    transition: all .2s easy-out;
}

#pages {
    position: relative;
}

.angleForSidebar {
    position: absolute;
    right: 0px;
    top: 18px;
    margin: 20px;
    transition: 0.3s ease;
}
/*=====================curve outside----------------------*/
.menuNavigation ul [menu]:hover li a::before,
.menuNavigation ul [menu].hovered li a::before,
.menuNavigation #pages [submenu]:hover li a::before,
.menuNavigation #pages [submenu].hovered li a::before {
    content: '';
    position: absolute;
    right: -1.6px;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 35px 35px 0 10px var(--background);
}
.menuNavigation ul [menu]:hover li a::after,
.menuNavigation ul [menu].hovered li a::after,
.menuNavigation #pages [submenu]:hover li a::after,
.menuNavigation #pages [submenu].hovered li a::after  {
    content: '';
    position: absolute;
    right: -1.6px;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 35px -35px 0 10px var(--background);
}
 
/*---------------------main Picture----------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url(background3.jpg);
    background-size: cover;  
    position: relative; 
    padding-top: 300px;
}
#hero::before {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
}

#hero .container {
    position: relative;   
}
#hero h1 {    
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
    margin-bottom: 100px;
}
#hero h2 {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 24px;
}
#hero .icon-box h3 {
    font-weight: 700;
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    
}
#hero .icon-box h3 a {
    color: #fff;

}
#hero .icon-box h3 a:hover {
    color: #ffc451;
    cursor: pointer;
}



#hero .icon-box  {
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    text-align: center;
    transition: all ease-in-out 0.3s;
    width: 250px;
    cursor: pointer;
}



#hero .icon-box:hover {
    border-color: #ffc451;
    
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}

/*-------------------------------------------------------------About-----------------------------------------*/


#about ul li {
    list-style-type: none;    
}
#about .row {
    margin-bottom: 6rem !important;
}



/*-------------------------------------------------------------Get in touch-----------------------------------------*/
 .cta {
    background: linear-gradient(rgba(2,2,2,0.5), rgba(2,2,2,0.8)), url(https://images.pexels.com/photos/19215458/pexels-photo-19215458/free-photo-of-back-lit-photograph-of-birch-trees.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) fixed center center;
    background-size: cover;
    padding: 50px 0;
    color: #fff;
}
.cta h3 {
    font-weight: 700;
    font-style: 28px;
}
.cta-btn {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff; 
    text-decoration: none;  
}
.cta-btn:hover {
    background: #ffc451;
    border-color: #ffc451;
    color: #151515;
}

.contact .info .info-icon {
    background: #ffc451;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    float: left;
}
.contact .info  h4 {
    padding-left: 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px  ;
}
.contact .info  p {
    padding-left: 60px;
    font-size: 14px;
}
.buttonForContactForm .cta-btn {  
    border: 2px solid #151515;
    color: #151515;
    width: 224.34px;   
}
.contact-form form {
    transition: all 4s ease-in-out;
}

.popup {
    width: 400px;
    background: #f6f5f7;
    border-radius: 6px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #05060c;
    transition: transform 0.4s, top 0.4s; 
}
.openPopup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.sendMessageContainer {
    width: 100%;
    height: 100vh;
    background: #ffc451;
}
/*------------------------------------Reviews-------------------------------------*/
.reviews {
    background: #f6f5f7;
    padding: 30px;
    border-bottom: 0.5px solid #c9c8c8;    
}
.profileReview {  
    margin: 40px auto;
    padding: 0 13%;
    display: block;          
}

.carousel-inner {
    overflow: visible;  
    height: 350px; 
}
.carousel {
    height: auto;
}
.carousel-item {
    width: inherit;
}
.carousel-indicators {
    position: unset;
   
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;   
}

.profileReview blockquote {    
    margin: 20px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;    
    display: inline-block;
    vertical-align: middle;       
}

.stars {    
    padding-bottom: 30px;
}
.buttonForMoreReviews {
    text-align: center;
    margin: 1px auto;
}
.buttonForMoreReviews .cta-btn { 
    border: 2px solid #151515;
    color: #151515;   
}
   

/*-----------------------------------------------------------------------partners-----------------------------------------------------------*/
.iconbox img {
    width: 10rem;  
}
.iconbox {
    
    height: 5rem;
}
.partnersColumn {
    height: 300px;
    width: 1200px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/*-----------------------------------------------------------------------footer-----------------------------------------------------------*/

footer {
    background: linear-gradient(to right, #00093c, #2D0b00);
    color: #fff;
    border-bottom: 1px solid #222222;
    padding-top: 60px;
    border-top-right-radius: 125px;
}
footer .col:nth-child(3), 
footer .col:nth-child(4) {
    flex-basis: 15%;
}


.footerFacebookIcon {
    transition: all ease-in-out 1s;   
    display: flex;
    justify-content: center;
}
.footerFacebookIcon a:hover {
    border-color: #ffc451;    
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-10px); 
}
.footer-top .footer-info {
    margin-bottom: 30px;    
}
.footer-top h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 18px;   
    padding: 2px 0;
    line-height: 20px;
    font-weight: 700;   
}
.underlineFooter {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    
}
.footer-top .footer-info p {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
}
.footer-top .social-links a{
    width: 40px;
    height: 40px;
    background: #ffc451;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    margin-right: 15px;
    display: inline-block;   
}
.footer-top .social-links a:hover {
    background: #ffc451;
    cursor: pointer;
}
.footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
}
.footer-links {
    margin-bottom: 30px;
}
.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-links li {
    padding: 10px 0;
    color: #ffc451;
    font-size: 18px;
    line-height: 1;
    display: flex;
    align-items: center;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
    padding-left: 5px;
} 
.footer-links a:hover {
    color: #ffc451;
}
form {
    padding: 6px 10px;
    border-radius: 4px;
}
hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright {
    font-size: 13px;
}
.underlineH3 {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underlineH3 span {
    width: 15%;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}


/*for animation on scroll - don't duble*/
@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}



/* -------------------------About - LinkPage--------------------------------------*/

#homePage {      
    background-size: cover;
    position: relative;
    padding: 50px 0; 
    min-height: 100vh;  
}
/*
#homePage::before {
    content: '';   
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
}
*/
#homePage .container {
    position: relative;
    
}
.aboutBlank {
    border: 1px solid transparent;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 1rem;    
}
.contentHome h3 {
    font-size: 15px;
}
.aboutBlank p {
    font-size: 18px;
    text-align: justify;
}
.aboutBlank h4 {
    font-weight: 600;
}




/*-------------------------------------------Loan amount calculator-------------------------------*/

.backgroundCalculators {
    background: var(--background);
    min-height: 100vh;
}


.profileReviewLoanCalculator,
.profileReviewStampDutyCalculator {
    margin: 85px auto;
    padding: 70px 50px;
    background-color: #fff;    
    width: 800px;    
    position: relative;   
    border-radius: 10px;
    color: #05060c;  
    border: 1px solid transparent; 
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    
}


.inputGroup {
    margin-bottom: 60px;
    position: relative;    
}
.fas, .far  {
    margin-right: 5px;
}
.inputGroup label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 7px;
    padding: 10px;
    color: #05060c;
    cursor: text;
    transition: 0.2s;
    font-size: 20px;
}
.inputGroup input:focus~label,
.inputGroup input:valid~label {
    top: -45px;
    font-size: 18px;
}

.inputGroup input {
    width: 100%;
    height: 65px;
    background: #f5f6fa;
    color: #05060c;   
    border-radius: 10px; 
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    border: 0px;  
}
.inputGroup input::-webkit-outer-spin-button,
.inputGroup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.allInputGroups {
    display: block;
    text-align: center;
}

.buttonCalculate {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: 0px solid #05060c;
    font-size: 25px;
    font-weight: 600;
    color: #05060c;
    cursor: pointer;
    background: #ffc451;     
}
.buttonCalculate:hover {
    background: #e7e5e5;
}
.groupAnswersLoanRepayments {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.answerSquareLoanRepayments {
    width: 350px;
    height: 170px;
    background: #f5f6fa;    
    margin: 30px auto;
    border-radius: 10px;
    color: #05060c;
    padding: 20px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);  
}
.answerSquareLoanRepayments:nth-child(2) {
    margin: 0 10px;
}

.answerSquareLoanRepayments div {
    display: flex;
    align-items: center; 
    font-size: 45px;
    margin: 20px auto;  
}
.answerSquareLoanRepayments>h4 {
    font-size: 20px;
}
.inputGroup input[type=text] {
    font-size: 28px;
    padding-left: 18px;
    font-weight: 800;
}

/*-------------------------------------------- stamp duty --------------------*/
/*
.stampDutyCalculator {
    margin: 150px auto;
    padding: 50px 60px;
    background-color: rgb(40, 41,123);    
    width: 55%;    
    position: relative;   
    border-radius: 10px;
    color: #f5f6fa;  
    border: 2px solid transparent;    
}
*/
#selectFieldStates .rotate {
    transform: rotate(-90deg);
}

.radioContainer p {
    font-size: 22px;   
    text-align: left;
}


.radioToggle, .radioToggleForTypeProperty {  
    display: flex; 
}
.radioToggle input[type='radio'],
.radioToggleForTypeProperty input[type='radio'] {
    display: none;
}

.radioToggle label {   
    border: 1px solid #e2e3e8;    
    padding: 15px 20px;   
    font-size: 20px;
    font-weight: 400; 
    cursor: pointer;
    text-align: center; 
    width: 100%; 
}
.radioToggleForTypeProperty label {
    border: 1px solid #e2e3e8;    
    padding: 15px;   
    font-size: 20px;
    font-weight: 400; 
    cursor: pointer;
    text-align: center; 
    width: 100%; 
}
.yesLabel {
    border-radius: 10px 0 0 10px;
}
.noLabel {
    border-radius: 0 10px 10px 0;
}
.radioToggle input[type='radio']:checked + label,
.radioToggleForTypeProperty input[type='radio']:checked + label  {
    background-color: #f5f6fa;
    
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}
.propertyLocationDropListContainer ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background: #f5f6fa;
    color: #05060c;
    width: 100%;    
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 400;
}
.propertyLocationDropListContainer ul li:hover {
    background: #ffc451;
    color: #060c21;
}
.propertyLocationDropListContainer ul li:hover > ul {
    display: block;
}


#selectFieldStates {
    width: 100%;    
    height: 65px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 400;
    background: #f5f6fa;
    color: #05060c;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center; 
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);  
    border-radius: 10px;
    cursor: pointer; 
}

.borderRadiusBottom {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);     
}

#selectFieldStates i {
    display: flex;
    align-items: center;
    color: rgb(40, 41,123);
    font-size: 17px;
}

#selectFieldStates p {
    line-height: 50px;
    font-size: 20px;
    font-weight: 400;
    color: #05060c;
    margin: 0;
}

.propertyLocationDropListContainer {
    margin-bottom: 60px;
    position: relative;    
}

#listFieldState {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
   
    
}

.rotate {
    transform: rotate(90deg);
}

.margBot {
    margin-bottom: 40px;
}


.groupAnswersStampDuty {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.answerSquareStampDuty {
    width: 100%;
    height: 170px;
    background: #f5f6fa;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    margin-top: 55px;
    border-radius: 10px;
    color: #05060c;
    padding: 20px;
    font-size: 22px;
    font-weight: 600;
    display: flex;   
    align-items: center;
    position: relative;
}
.answerSquareStampDuty p {
    position: absolute;
    top: 10px;
    left: 20px;
}
.answerSquareStampDuty h4 {
    font-size: 54px;   
}
.answerSquareStampDuty div {    
    position: absolute;
    top: 25%;
    left: 32%;
}
#listStates #listFieldState {
    padding: 0;
}

.describeStatesConcessionals {
    color: #060c21;
    border: 1px solid #060c21;
}

.state h3 {
    margin: 0 0 10px;
}
.state {
    padding: 0 0 10px 10px;
}
.statesList, .stampDutyRate {
    border-collapse: collapse;
}
.statesList table, .stampDutyRate table {
    margin: 0 auto;
}
.statesList td {    
    height: 40px;
    border: 1px solid black; 
    text-align: center; 
    display: contents;   
}
.stampDutyRate {
    margin-bottom: 50px;
    
}
.stampDutyRate td {
    width: 50%;
    height: 50px;
    border: 1px solid black; 
    text-align: center;
} 
.containerTable {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    margin: 1px auto;
}
#contentTable {
    display: flex;
    flex-direction: column;
       
}
.expandBTN {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
}
#textTable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.stampDutyRate tr:nth-child(even) {
    background: #b0b3c4;
}
.statesList tbody:nth-child(odd) {
    background: #b0b3c4;
}
.describeStatesConcessionals .state:nth-child(odd) {
    background: #b0b3c4;
}
.stateColor {
    background: #ffc451;
    color: #05060c;
}

/*-------------------------------------------- Borrowing Calculator--------------------*/



#borrowingCalculatorLink { 
    margin: 85px auto;  
    padding: 18px 26px;   
    text-align: center;  
    text-decoration: none;
}

/* ---------------------------------------------------------------------------reviews------------------------------------------------------------------------*/
#testimonials .col-md-4 {
    margin: 40px auto;
}

.profileReviewPage {
    padding: 40px 30px 30px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}
.profileReviewPage:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}
.profileReviewPage h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #ffc451;
}
.profileReviewPage span {
    font-size: 12px;
    color: #333;
}


.profileReviewPage blockquote {
    font-size: 16px;
    line-height: 30px;    
}

.fa-quote-left { 
    font-size: 30px;
    color: #ffc451;
    position: relative;
    line-height: 20px; 
    top: -10px;
    right: 10px;         
}
.fa-quote-right {
    font-size: 30px;
    color: #ffc451;
    position: relative;
    line-height: 20px; 
   
    left: 10px;
}


/* ------------------------------------------------------------------partners--------------------------------------------------------------------*/
#contentPartners {
   background: #f6f5f7; 
}


.sectionContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;       
}
.logos {    
    margin: 70px auto;
}
.singleService {
    flex-basis: calc(100% / 5);    
    margin-bottom: 40px;
    display: inline-block;    
}
.singleServiceWrapper {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgb(102 0 255 / 7%);
    transition: 0.2s;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 10px;
}
.singleServiceWrapper:hover {
    box-shadow: none;
    transform: scale(0.985);   
}
.textMiddle p {    
    text-align: start;  
    margin: 55px 0;
}
/*---------------------------Contact Us Page-----------------------------------------*/

.contactSection {   
    flex-direction: column;
    
}
.contactHead {
    flex-direction: column;
    margin-bottom: 150px;
    margin: 0 auto;
}
.contactHead p {
    margin: 55px 0;
}
/*
.contactSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 400px;
    width:calc(50% - 150px);
    height: 100%;
    background: #ffc451;
}
*/
.contactSection .container {
    position: relative;
    min-width: 1100px;
    min-height: 640px;
    z-index: 1000;  
}
.contactSection .container .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: var(--black2);
    z-index: 1;
    padding: 40px;    
    flex-direction: column;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}
.contactSection .container .contactForm {
    position: absolute;
    padding: 0 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
}
.contactSection .contactInfo h2 {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 24px; 
    color: white;  
    margin-bottom: 65px; 
}
.contactSection ul.contactInfoPage {   
    position: relative;
    margin: 40px 0;
    padding: 0;
}
.contactSection ul.contactInfoPage li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    color: white;
}
.contactSection ul.contactInfoPage li span {
    padding-bottom: 15px;
}
.contactSection .contactInfo  .contactPageIcons {
    margin-top: 120px;
    position: relative;
    display: flex;
}
.contactSection .contactInfo  .contactPageIcons a {
    margin-right: 25px;
}
.contactSection .contactForm h2 {
    font-size: 24px;
    font-weight: 500;
}
.contactSection .contactForm .formBox {
    padding-top: 30px;
}
.contactSection .contactForm .formBox .inputBox {
    position: relative;
    margin-bottom: 35px;
}
.contactSection .contactForm .formBox .inputBox input,
.contactSection .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #767676;
}

.contactSection .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
    pointer-events: none;
}
.contactSection .contactForm .formBox .inputBox input:focus ~ span,
.contactSection .contactForm .formBox .inputBox input:valid ~ span,
.contactSection .contactForm .formBox .inputBox textarea:focus ~ span,
.contactSection .contactForm .formBox .inputBox textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400px;
    letter-spacing: 1px;
    color: var(--black2);
    font-weight: 500;
}
.contactSection .contactForm .formBox button {
    position: relative;
    cursor: pointer;
    background: #ffc451;
    color: #333;
    border: none;
    max-width: 150px;
    padding: 12px;
}
.contactSection .contactForm .formBox button:hover {
    background: var(--black2);
    color: var(--white);
}


/*------------Privacy Policy Section-----------------*/

.privacyPolicySection .row {
    border: 1px solid transparent;
    flex-direction: column;
    font-size: 18px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 1rem;
}
.privacyPolicySection .row p {    
    text-align: justify;
    padding: 0 2rem;
}
.privacyPolicySection .row h4 {
    padding: 1rem;
    margin: 1rem;
    font-weight: 600;
}
.privacyPolicySection .row ul,
.privacyPolicySection .row ol {
    padding-left: 5rem;
    color: #2a2185;
}

/*----------------Dispute Resolution Policy---------------------*/
.disputeResolutionPolicy .row {
    border: 1px solid transparent;
    flex-direction: column;
    font-size: 18px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 1rem;
}
.disputeResolutionPolicy .row p {
    text-align: justify;
    padding: 0 2rem;
}
.disputeResolutionPolicy .row ul {
    padding-left: 5rem;
    color: #2a2185;
}
.disputeResolutionPolicy .row .addressForDispute table {
    margin: 0 auto;
    border-spacing: 20px;
    border-collapse: separate;
}

.disputeResolutionPolicy .row .addressForDispute td:first-child {
    font-weight: bold;
}
.disputeResolutionPolicy .row .addressForDispute td:last-child {
    padding-left: 20px;
}
.disputeResolutionPolicy .row .addressForDispute table tr:last-child td:first-child {
    vertical-align: baseline;
}

/*-------------------------------MEDIA------------------------------------------*/

/*--------------------------Media---------------------*/








@media (max-width: 1800px) {
    .contactSection .container {
        width: 90%;
        min-width: auto;
        margin: 20px;
    }
    .profileReview {
        padding: 0 5%;
    }
   
    
   
}
@media (max-width: 1500px) {
    .partnersColumn {
        height: 400px;
        width: 1200px;
        grid-template-columns: 1fr 1fr 1fr;
    }
 
}


@media (max-width: 1400px) {
    #hero {
        padding-top: 200px;
    }
    #hero h1 {
        font-size: 46px;
    }
    #hero h2 {
        font-size: 21px;
    }
    #hero .icon-box h3 {
        font-size: 18px;
    }
    .menuNavigation {
        width: 300px;
    }
    .menuNavigation ul li {
        font-size: 20px;
    }
    .marginLeft{
        margin-left: 300px;
    }
    .menuNavigation ul li a .icon svg{
        width: 25px !important;
        height: 25px !important;
    }
    .menuNavigation ul li a {        
        padding: 10px 0;
    }
    #pages .sidebar-item {
        font-size: 17px;
    }


    .menuNavigation .navbar-brand {
        font-size: 25px;
    }
    .menuNavigation .navbar-brand img {
        width: 48px;
        margin-right: 8px;
    }
    .menuNavigation .sidebar-nav [menu] li {
        padding-left: 0px;
    }
    .menuNavigation ul li a .icon {
        font-size: 20px;
    }
    .angleForSidebar {
        top: 12px;
    }
    .contactSection .container {
        --bs-gutter-x: 0;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }
    .contactSection .container .contactInfo {
        top: 0;
        height: 670px;
        position: relative;
        box-shadow: none;
    }
    .contactSection .container .contactForm {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0; 
        padding: 40px;
        height: 670px; 
        box-shadow: none;      
    }
    .contactSection .container .contactForm form {
        margin-top: 0;
    }
    .contactSection::before {
        left: 300px;
    }
    .contactSection .contactInfo h2 {
        margin-bottom: 65px;
    }
    .contactSection .contactInfo .contactPageIcons {
        margin-top: 200px;
    }
    .contactSection ul.contactInfoPage li span {
        padding-bottom: 35px;
    }
   
}

@media (max-width: 1200px) {
    #hero .container {
        margin-top: 100px;
    }
    .inputGroup input:focus~label,
    .inputGroup input:valid~label {
        font-size: 16px;
    }
    .containerAbout .row {
        justify-content: space-around !important;
    }
    .navbar>.container-fluid {
        height: 80px;
        background: #f6f5f7;;
        margin: 20px;
        border-radius: 16px;
        padding: 0.5rem 3rem;
        border-bottom: 1px solid transparent;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    }
   
    .navbar-toggler-icon {
        width: 1.8em;
        height: 1.8em;
    }
    .nav-link:focus, .nav-link:hover {
        color: var(--black1);
    }
    .menuNavigation {
        width:100%;
        top:0;
        right: 0;
        left: unset; 
           
        background: #f6f5f7;
        border-radius: 0 0 16px 16px;
        border-top: 1px solid transparent;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    }
    .menuNavigation ul li a {
        color: var(--black1);
    }
    .menuNavigation .sidebar-nav [menu]:hover,
    .menuNavigation .sidebar-nav [menu].hovered,
    .menuNavigation #pages [submenu]:hover li a, 
    .menuNavigation #pages [submenu].hovered li a  {
        border: 1px solid transparent;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    }
   
    .menuNavigation .navbar-brand {
        margin: 0;        
    }
    .navContainer hr {
        margin: 0;
        width: 100%;
    }
    .aboutBlank {
        margin-top: 20px;
    }
    .disputeResolutionPolicy .row,
    .privacyPolicySection .row {
        margin-top: 118px !important;
    }
    #contentLoanRepayments h1,
    #contentStampDuty h1  {
        padding-top: 100px;
    }
    #contentLoanRepayments h1,
    #contentStampDuty h1 {
        font-size: 30px;
    }
    .navContainer .navbar-toggler {
        border: none;
        font-size: 1.25rem;
    }
    .navContainer .navbar-toggler:focus {
        box-shadow: none;
        outline: none;
    }
    
    .marginLeft {
        margin: 0;
    }
   
    .contactSection::before {
        display: none;
    }
    .contactSection .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .contactSection .container .contactInfo {
        width: 100%;
        height: auto;
    }
    .contactSection .container .contactForm {
        width: 100%;
        height: auto;
    }
    .contactSection .contactInfo .contactPageIcons {
        margin-top: 10px;
    }
    .navContainer .container-fluid img.mobileLogo {
        width: 48px;
    }
    #contentBorrowingCalculator .row {
        margin-top: 100px;
    }
   
    .profileReviewStampDutyCalculator,
    .profileReviewLoanCalculator {
        padding: 50px 40px;
        width: 550px;
    }
    .margBot {
        margin-bottom: 20px;
    }
    #selectFieldStates,
    .inputGroup input,
    .radioToggle,
    .radioToggleForTypeProperty {
        height: 55px;

    }
    .inputGroup label,
    .radioToggle label,
    .radioToggleForTypeProperty label,
    #selectFieldStates p {
        font-size: 17px;
    }
    .radioContainer p {
        font-size: 19px;
    }
    .propertyLocationDropListContainer {
        margin-bottom: 40px;
    }
    .answerSquareStampDuty {
        margin-top: 40px;
    }
    .buttonCalculate {
        height: 70px;
        font-size: 20px;
    }
    .answerSquareStampDuty h4 {
        font-size: 44px;
    }
    .answerSquareStampDuty div {
        position: absolute;
        top: 35%;
        left: 22%;
    }         
    #contentPartners,
    .contactSection,
    #testimonials  {
        padding-top: 100px !important;
    }
    .logos {
        margin: 50px auto;
    }
    #contentPartners .textMiddle,
    .contactSection .contactHead p{
        font-size: 18px !important;
    }
  
    .navbar-nav-scroll {
        max-height: var(--bs-scroll-height, 36vh);
        overflow-y: auto !important;
    }
}
@media only screen and (max-width: 992px) {
    #about {
        margin-left: 0;
    }
    #hero .container {
        margin-top: 0;
    }
    #hero .icon-box {
        height: 200px;
        width: 330px;
        margin-bottom: 20px;
    }
    .paddingForContainer {
        padding: 0;
    }
    footer .footer-top .container {
        max-width: 900px;
    }
    footer .col:nth-child(1) p {
        font-size: 13px;
    }
    footer .col:nth-child(3),
    footer .col:nth-child(4) {
        flex-basis: 15%;
    }
    footer .col:nth-child(4) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;        
    }
    footer hr {
        margin: 0 0 20px;
    }
    .footerFacebookIcon {
        padding-top: 0 !important;
    }
    .footer-top .footer-info p  {
        font-size: 12px;
    }
    .footer-top h3 {
        font-size: 16px;
    }
    .footer-links li {
        font-size: 15px;
    }
    .footerFacebookIcon {
        display: grid;
    }
    .footer-top .social-links a {
        margin-right: 0;
        margin-bottom: 15px;
    }
    footer .row {
        --bs-gutter-x: 0;
    }
    #homePage .welcome h1,
    .disputeResolutionPolicy h2,
    .privacyPolicySection h2 {
       font-size: 22px !important;
    }
    #homePage h4,
    .privacyPolicySection h4 {
        font-size: 18px;
        
    }
    .privacyPolicySection h4  {
        margin: 0 16px !important;
    }
    #homePage p,
    .disputeResolutionPolicy p,
    .disputeResolutionPolicy ul li,
    .disputeResolutionPolicy .addressForDispute,
    .privacyPolicySection p,
    .privacyPolicySection ul li {
        font-size: 16px;
    }
    #testimonials .row {
        margin: 3rem;
    }
    #contentPartners .sectionContent {
        justify-content: center;
    }
    #contentPartners .backgroundCalculators {
        justify-content: center;
    }
    .reviews .carousel-inner p,
    .reviews .carousel-inner span {
        font-size: 14px;
    }
}

@media only screen and (max-width: 788px) {
    .footer-top h3 {
        font-size: 15px;
    }
    .copyright {
        font-size: 11px;
    }
}

@media only screen and (max-width: 768px) {
    .inputGroup label, .radioToggle label, 
    .radioToggleForTypeProperty label, 
    #selectFieldStates p,
    .propertyLocationDropListContainer ul li {
        font-size: 16px;
    }
    .inputGroup input:focus~label,
    .inputGroup input:valid~label {
        font-size: 15px;
    }
    .profileReviewStampDutyCalculator 
    {
        padding: 50px 25px;
    }
    
    .radioContainer p {
        font-size: 17px;
    }
    .buttonCalculate {
        font-size: 18px;
    }
    .answerSquareStampDuty {
        font-size: 18px;
    }
    .inputGroup input[type=text] {
        font-size: 22px;       
        font-weight: 700;
    }
    .inputGroup input:valid~label {
        font-size: 15px;
    }
    .answerSquareLoanRepayments>h4 {
        font-size: 17px;
    }
   
    .answerSquareLoanRepayments svg {
        height: 25px;
        width: 25px;
    }
    .answerSquareLoanRepayments div h4 {
        font-weight: 700;
        margin-bottom: 0 !important;
    }
    .answerSquareLoanRepayments {
        height: 140px;
    }
    .reviews .carousel-inner p,
    .reviews .carousel-inner .profileReview .fw-semibold {
        font-size: 12px !important;
    }
    .partnersColumn {
        height: 400px;
        width: 1200px;
        grid-template-columns: 1fr 1fr;
    }
    footer .col:nth-child(2) h3,
    footer .col:nth-child(3) h3,
    footer .col:nth-child(4) h3{
        font-size: 11.5px;
    }
    .containerAbout .row .img-fluid {
        max-width: 90%;
            
    }
    .containerAbout .row {
        text-align: center;
    }
    #contentHome,
    .disputeResolutionPolicy .row,
    .privacyPolicySection .row {
        padding: 3rem 0 !important;
    }
    #contentLoanRepayments h1,
    #contentStampDuty h1  {
        font-size: 26px;
    }
    #testimonials .container {
        padding: 0 !important;
    }
    .profileReviewPage blockquote {
        font-size: 14px;
        line-height: 25px;
    }
    #contentPartners .textMiddle, .contactSection .contactHead p {
        font-size: 16px !important;
    }
    #contentPartners .textMiddle, .contactSection .contactHead p {
        font-size: 16px !important;
    }
    
    .menuNavigation {
        width: 90%;
              
        left: 5%;
    }
   
   
    
}
@media only screen and (max-width: 640px) {
    .profileReviewStampDutyCalculator, 
    .profileReviewLoanCalculator {
        width: 500px; 
    }
    .profileReviewLoanCalculator, 
    .profileReviewStampDutyCalculator {
        margin: 65px auto;
    }
    .logos {
        margin: 0 !important;
    }
   
}


@media only screen and (max-width: 576px) {
    footer .row {
       -bs-gutter-x: 1.5rem; 
    }
    .profileReviewStampDutyCalculator, 
    .profileReviewLoanCalculator {
        width: 450px; 
    }
    .inputGroup label, 
    .radioToggle label, 
    .radioToggleForTypeProperty label, 
    #selectFieldStates p, 
    .propertyLocationDropListContainer ul li {
        font-size: 14px;
    }
    .inputGroup input:focus~label,
    .inputGroup input:valid~label {
        font-size: 13px;
    }
}
@media only screen and (max-width: 450px) {
    #testimonials .row {
        margin: 3rem 1rem;
    }
    .menuNavigation ul li a .icon {
        font-size: 18px;
    }
    .navbar .container-fluid a {
        font-size: 16px;
    }
}
